* {
		box-sizing: border-box;
}

body {
	background-image:url("back_ground.png");
	font-family: Cambria, Times, serif;
	padding: 8px;
}

 .topnav {
 	overflow: hidden;
	background-color:black;
	font-weight:bold;
	border-radius: 6px;
	margin-top: 8px
}

 .button {
 	float:left;
	display:block;
	color:white;
	text-align:center;
	padding: 10px 12px;
	text-decoration:none;
	font-size:15px;
	cursor: pointer;
	outline: none;
	border: 1 px;
	border-radius: 10px;
	box-shadow: 1px 3px #999:
	background-color: #f78340;
}

 .button:hover {
 	background-color: #bc622f; 	
 }
